[Unit]
Description=Syncthing - Open Source Continuous File Synchronization for sial 
Documentation=https://github.com/syncthing/syncthing/wiki
After=network.target

[Service]
User=sial
Environment=STNORESTART=yes
ExecStart=/usr/bin/syncthing
Restart=on-failure
RestartPreventExitStatus=1
SuccessExitStatus=2
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target
